.mainContainer {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". . .";
  font-size: 2vh;
  grid-gap: 10px;
  min-height: 70vh;
}

.controllerInputs {
  display: inline-block;
  text-align: right;
}

.parentMapContainer {
  position: relative;
  min-height: 300px;
  color: black;
}



.citiesInput {
  border-radius: 7px;
  height: 2vh;
}

.cityCard {
  background-color:rgb(240, 240, 245);
  border-radius: 7px;
  color: black;
  padding: 0px 10px;
}

.cityCard button {
  margin: 5px;
}

@media (max-width: 800px) {
  .controllerField,
  .cityCardContainer,
  .parentMapContainer {
    grid-column: 1 / span 3;
  }
}
