.mainContainerLL {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". . ";
  grid-gap: 10px;
  min-height: 70vh;
  font-size: 2vh;
}



.cardsContainerLL {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  max-height: 300px;
}

.linkListCard {
  background-color: rgb(240, 240, 245);
  color: black;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
}

.linkListCard img {
  max-width: 100%;
  max-height: 100%;
}

.selectedCard {
  background-color: grey;
  color: black;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
}

.selectedCard img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 800px) {
  .controllerContainerLL,
  .cardsContainerLL {
    grid-column: 1 / span 3;
  }
}