.title {
    text-align: center;
  }
  
  input {
    border-radius: 8px;
    padding: 5px 10px;
  }
.upperAndLower {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". . ";
  grid-gap: 10px;
  min-height: 70vh;
  font-size: 2vh;
}



  .grid-account {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .accountCard {
    background-color: rgb(240, 240, 245);
    color: black;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    max-width: 300px;
    max-height: 200px;
  }